mixin tourImage(imageName, alt)
    img(sizes="(min-width: 1024px) 940px, 100vw" srcset=`${imageName}-1440.jpg 1440w, ${imageName}-940.jpg 940w, ${imageName}-720.jpg 720w, ${imageName}-366.jpg 366w, ${imageName}-326.jpg 326w` src=`${imageName}-326.jpg` alt=alt).TourHomeImage

mixin homeSponsor(name, url)
    p.HomeSponsor
        | Sponsored by:
        if url
            | 
            a(href=url target="_blank")= name
        else
            span=name


ul.TourHomes.u-container

    //- 1
    li
        h3
            | 1109 Colquitt Avenue
            small Carolyn Kaplan and Jon Sanford

        +tourImage("/assets/img/2020/toh/1109-colquitt", "1109 Colquitt")

        p Shortly after moving to Inman Park, owners Jon and Carolyn purchased the house next door to theirs. After their renovation, the duplex entry parlor retains many of its original features: the front door, diamond-paned windows, brass chandelier, and leaded-glass window in a staircase that leads to a furnished second-floor flat. 
 
        p The flat is used for short-term rentals, often to members of Atlanta&rsquo;s film industry. Natural light fills each room from the multitude of windows. The eclectic decor features paintings by Jon&rsquo;s mother. The large master suite incorporates an old sleeping porch converted to a dressing room and master bath. The first-floor apartment boasts new bathrooms, an updated kitchen, and a bright sunroom opening up to a new rear deck. 

        p Heart pine (upstairs) and oak (downstairs) hardwood floors gleam throughout the house. Many of the original fireplace tiles have been restored, as have steam radiators which stand as proud reminders of the home&rsquo;s vintage, although they are no longer needed for heat. Jon&rsquo;s interest in urban farming can be seen behind the house in the beautifully designed vegetable garden, which backs up to the gymnasium of the former Bass High School, now Bass Lofts Apartments.

    //- 2
    li
        h3
            | 1105 Colquitt Avenue
            small Carolyn Kaplan and Jon Sanford

        +tourImage("/assets/img/2020/toh/1105-colquitt", "1105 Colquitt")

        p Walking through the front garden of this 1908 Victorian bungalow you will pass beautiful shrubs and a bubbling fountain on your way to the gracious front porch. Owners Carolyn and Jon have lived here for three years since completing extensive renovations in which they removed walls, re-designed bathrooms, and created a magnificent light-filled master suite on the second floor.
 
        p Don&rsquo;t miss natural details in the master suite: the hanging birch doors that complement the maple sleigh bed and the granite surrounding the tub. Peek into Jon&rsquo;s closet to see the exposed chimney.

        p Architect Jon wisely used his collection of heart pine reclaimed from previous projects to build shelving in the kitchen and pantry. Family antiques-including the living room&rsquo;s jade coffee table, smuggled out of China in 1959 by a great uncle-blend perfectly with contemporary art, including work by local artists. In the front parlor hangs a painting by John Ichter and in the downstairs hall a striking photograph of Carolyn and her children by Benita Carr.

        p The new garage directly behind the house has a rooftop deck overlooking Bass Lofts. The view encompasses both historic architecture and more recent neighborhood construction.

        +homeSponsor("Atlanta Fine Homes")

    //- 3
    li
        h3
            | 410 Sinclair Avenue
            small Dave and Bev Andersen
        
        +tourImage("/assets/img/2020/toh/410-sinclair", "410 Sinclair")

        p Dave and Bev bought their 1920s home in 1997, knowing it needed TLC, and &ldquo;lived with its flaws&rdquo; until their daughter went to college in 2018. Then they began an exhaustive 9-month renovation, which involved taking the entire structure down to the studs, putting the back on stilts, and plowing out dirt to create living space downstairs. The result was an additional 700 square feet with soaring 10-to-12-foot ceilings and doorways, an open floor plan, tons of light, and an industrial vibe that beautifully complements the bones of the house.

        p The Andersens&rsquo; goal was to have one special feature in each room: fireplaces in the upstairs parlor and downstairs sunroom, a &ldquo;wet room&rdquo; master bath, a custom light fixture in the dining room, and a globally-acquired collection of crosses in the kitchen. Their love of cobalt and sea glass can be found in the texture/color palette, from bathroom tiles to furnishings. The small porch off the master bedroom has become the most frequently used space in the house-a quiet retreat for work and coffee. Downstairs, note the music room and clever exercise nook. The new outbuilding houses Dave&rsquo;s workshop.

        p Environmentally-friendly touches include roof-top solar panels and countertops made of 80% recycled materials.

        +homeSponsor("Adam Stillman")

    //- 4
    li
        h3
            | 409 Sinclair Avenue
            small Jake and Jody LaJoie
        
        +tourImage("/assets/img/2020/toh/409-sinclair", "409 Sinclair")

        p This classic bungalow had been updated when Jake and Jody bought it in 2005, but their 2018 renovation expanded the floor plan and added more than 725 square feet. Operating a Ditch Witch excavator through an external coal chute, they converted a crawl space with eighteen-inch clearance into a basement with nine-foot ceilings. This incredible transformation includes a TV room, bathroom, and climate-controlled wine cellar. 

        p Jake and Jody favor traditional style with a European flair-a nod to their Czech and French lineage. They demonstrated their respect for historical detail by matching the original floors with heart pine salvaged from an old apron factory, duplicating the unusual design of the door headers, copying the original windows, and adding coffered ceilings in the parlor and dining room. Note the vintage chandelier in the dining room as well as an original poster by the influential designer Leonetto Cappiello in the front parlor.
 
        p Jake, a passionate cook, fell in love with the idea of a custom-made French Lacanche range, which became the kitchen&rsquo;s focal point. Special features include custom cabinetry, soapstone counters, and a vent hood wrapped in antique barn wood. The LaJoies added a master bedroom and huge closet and reconfigured the original third bedroom into the elegant master bath. 

        +homeSponsor("Century Craft Homes")

    //- 5
    li
        h3
            | 393 Sinclair Avenue
            small Sandi Parker and Hussain &lsquo;Moos&rsquo; Moosajee

        +tourImage("/assets/img/2020/toh/393-sinclair", "393 Sinclair")

        p Sandi and Moos were determined to remain in Inman Park. They had been searching fruitlessly for fourteen months when they spotted this appealing foursquare, built in 1910 and originally valued at $3000. They left a note on the doorstep, and after seven months of conversation the owner agreed to sell them the house in 2014.

        p They are the second owners to renovate this house extensively. Previous owners took the interior down to the studs, removing decades of coal stains, and converted the second floor into an apartment. Sandi and Moos reincorporated that space into their residence, retaining many of the period details that had been carefully preserved during the first renovation. They also added space for a family room and a fourth bedroom. You will notice that the trim, windows, and flooring in the new addition do not match the originals. This was done to comply with restrictions in the Georgia Rehabilitation Tax Credit and Property Freeze programs. They plan to replace the garage with a two-story structure for use as an office and gym.

        p The architect was neighbor Adam Stillman. Interiors were designed by Sandi, who is an interior designer. She is also a gardener and does the landscaping herself.

        +homeSponsor("Classic Renovators")

    //- 6
    li
        h3
            | 1042 Washita Avenue
            small Michael and Karen de Nie

        +tourImage("/assets/img/2020/toh/1042-washita", "1042 Washita Avenue")

        p Built about 1911, this elegant home had by the 1940s become a boarding house for Inman Park bachelors. It was returned eventually to a single-family dwelling and later renovated by Karen and Michael and their son when they took ownership in 2011. 

        p Its high ceilings, plentiful windows, and catty-cornered aspect fill it with sunshine. The large porch offers views of spectacular sunsets and, in winter, a landscape of midtown Atlanta skyscrapers. Original features, such as the heart pine floors, four fireplaces, and the gas light fixture in the coat closet are reminders of the home&rsquo;s age. In fact, all the rooms were originally both wired for electricity and piped for the more reliable gas. 

        p Michael crafted reproduction trim and cabinetry to supplement the original trim work in most rooms. Karen designed the contemporary kitchen, completed in 2015, which overlooks the backyard, and, with its custom table, is the center of family life. Throughout the house, family antiques from Holland blend beautifully with photographs and treasures from the de Nies&rsquo; adventures. Don&rsquo;t miss the collection of Beltline Lantern Parade creations in the downstairs bedroom and the stained-glass window at the top of the stairs, which Michael created as a wedding gift for Karen.

        +homeSponsor("The Club Afterschool", "https://www.theclubafterschool.com/")

    //- 7
    li
        h3
            | 259 Elizabeth Street
            small Moira Keller and George Weidman

        +tourImage("/assets/img/2020/toh/259-elizabeth", "259 Elizabeth Street")

        p Sitting sweetly at the foot of Elizabeth Street, this craftsman bungalow occupies the boundary between old Inman Park, with its gracious homes and majestic trees, and new Inman Park, with its bistros and sleek condos. Over the years the house has been a single-family home, a small boarding house, and, for a few mid-century decades, the neighborhood beauty parlor. Many of the structure&rsquo;s original features remain, such as the woodwork in the front rooms, the antique light fixtures, the butler&rsquo;s pantry, and the clawfoot bathtub.

        p The decor is in keeping with the house&rsquo;s early-twentieth-century vintage, allowing a few nods to modern style in the form of painted furniture. European Contemporary art resides comfortably alongside collections of family photos, Victorian dinner plates, and British royal mementoes.

        p The large side yard provides a great space for croquet and badminton. The owners are currently transforming it into a garden featuring wildflowers of the South. George, who saw native plants growing along the tracks during his career working for the railroad, wants his yard to reflect the South&rsquo;s pre-urban environment. To that end, he and Moira have planted asters, goldenrod, mountain laurel, native azaleas, milkweed, prickly pear, and shoal lilies. 

        +homeSponsor("Dorsey Alston Realtors")

    //- 8
    li
        h3
            | 241 Elizabeth Street (Garden)
            small Chuck and Pat Young
        
        +tourImage("/assets/img/2020/toh/241-elizabeth", "241 Elizabeth Street")

        p &ldquo;A slice of paradise&rdquo; seems an apt way to describe the gardens at this classic 1910 foursquare house. When homeowner Chuck Young isn&rsquo;t volunteering at the Atlanta Botanical Gardens, he lovingly cares for the plants and trees surrounding his home. 

        p The front yard and sidewalk planting strip are filled with azaleas, dogwood trees, pink star magnolias, and perennials. On the shady side of the house, hardy cyclamens are planted in a bed with a pear tree nearby. The back yard features a large greenspace surrounded by trees and shrubs, including a weeping styrax, piedmont azaleas, peewee hydrangeas, dahlias, Lenten roses, cinnamon leaf viburnum, winter honeysuckle, golden rain trees, &lsquo;Little Gem&rsquo; magnolia, Japanese maples, &lsquo;Grace&rsquo; smoke tree, Chinese dogwoods, wax myrtles, and evergreens. The ball-shaped ilex (holly) shrubs add an air of formality to the garden. 

        p As you make your way up the path, look for fish and frogs in the pond. Nearby are a gingko tree, ephemerals, and various conifers. A 780-gallon tank filled by rainwater from the gutters provides enough to water the entire yard twice. The gardens are an ongoing labor of love for Chuck as he continuously adds to his list of new plants.

    //- 9
    li
        h3
            | 814 Edgewood Avenue
            small Whitespace Gallery and Gardens
            small Susan Bridges

        +tourImage("/assets/img/2020/toh/814-edgewood", "814 Edgewood Avenue")

        p When Druid Hills native Susan Bridges first saw this Eastlake Victorian in the 1970s, she had a hunch treasure lay behind the mess. It was a rental property with thirty-five residents, six kitchens, and sagging sheds dotting the grounds, but it had been built in 1893 by industrial magnate Robert Winship.

        p Decades later, Susan fused affection for her home with love for visual art, converting the carriage house into a gallery featuring Atlanta artists. She worked with the architectural firm BLDGS to create Whitespace, which won a Georgia AIA Award of Merit in 2007. They kept the original brick walls and floors and an interior barn door, adding framed panels and handmade lighting by a local artist. Behind the new pivot wall, you can still see where the carriage driver scribbled work notes on the wood siding. 

        p Since then, Susan has turned a gritty basement into Whitespec, which has housed many MFA thesis shows, and a caved-in root cellar into Shedspace, which houses art installations. The galleries are knit together by paths that meander through ancient hardwoods, trellised arches, and ferns and perennials. A tall, rusted metal sculpture doubles as a furnace. Saints Francis and Fiacre bless the galleries from shingled huts, while a Madonna oversees all from her porcelain tub.

    //- 10
    li
        h3
            | 804 Edgewood Avenue (Garden)
            small Debi Starnes and Jim Emshoff
        
        +tourImage("/assets/img/2020/toh/804-edgewood", "804 Edgewood Avenue")
        
        p This beautiful Queen Anne Victorian, built in 1892, houses Sugar Magnolia Bed & Breakfast and owners Debi Starnes and Jim Emshoff. 

        p Debi&rsquo;s love of nature and of fun is obvious throughout the gardens and porches, where you&rsquo;ll find amusing little secrets. As you enter the front gate, you&rsquo;re greeted by a beautiful fescue lawn with cobblestone corner vegetable beds and hanging colanders filled with strawberry plants. Jim built the flagstone walkway beside a flowering shrubbery that features forsythia, azaleas, hydrangeas, and camelias. The side courtyard has a tropical flair, sporting a sago palm, Chinese fan palm, banana palms, and a potted pygmy date palm, along with a 40-year-old rhododendron that boasts glorious nine-inch hot-pink blooms. The fountain provides a soothing sound within the garden and the whimsical back porch. 

        p A path leads to the shade garden, with decorative dry creek beds, hydrangeas, Lenten roses, Solomon&rsquo;s seal, ferns, azaleas, dwarf mondo grass, Canadian hemlock, a volunteer peach tree, Mexican sunflowers-and a second house, where Debi&rsquo;s mother, Josie, lives. Debi has a special affinity for anything that lights up, so look for many lights hiding throughout the garden, including some hanging from the trees. 

        +homeSponsor("Overeducated Painters")
    
    //- 11
    li
        h3
            | 73 Spruce Street
            small Chandan Devireddy and Anandi Sheth
        
        +tourImage("/assets/img/2020/toh/73-spruce", "73 Spruce")

        p In 2015, looking for renovation ideas for their Inman Park duplex, Anandi Sheth and Chandan Devireddy visited 73 Spruce. It was love at first sight. They bought it immediately and never looked back. The owners relish the comfortable, open floor plan, huge light-filled rooms and outdoor space-perfect for their three elementary-school-aged boys. 

        p Built in 1908, probably as a single-family home, by the Depression this house had been converted into a duplex, and over time three additional units were added. In 2006, the previous owners bought the home and converted it back into a single residence. An attic build-out and rear addition created a spacious feeling in the kitchen/great room area.

        p Although big changes were made during the renovation, original materials were reused or repurposed in areas including the hardwood floors, butler&rsquo;s pantry, and the many charming built-in cupboards. The master bathroom vanity tops are made with crushed glass and mirror, salvaged from the house before the renovation. The desk in the office off the master bedroom is made of one of the original doors. 

        p Note the exterior shingles above the doorway in the kitchen. The bottles were found during the renovation, and Chandan and Anandi have added to the collection, establishing a wonderful new tradition.

        +homeSponsor("Inman Park Marble")
    
    //- 12
    li
        h3
            | 80 Spruce Street
            small Lauren and Kevin Thames

        +tourImage("/assets/img/2020/toh/80-spruce", "80 Spruce")
        
        p Fifty years ago this 1891 Queen Anne was broken up into small apartments. In what is now the music room, tenants used a coin-operated laundry. Today, this grand abode boasts a main floor guest suite, a new master bedroom suite, and a cozy apartment tucked away on the lower level.

        p The striking black-and-white exterior of the house continues across the wrap-around porch and through the massive front door. In recent years owners Kevin and Lauren undertook a total renovation of the oldest house on the street. With their designer, Carl Mattison, they chose a vintage chic look that mixes old and new, reminiscent of Parisian hotels they have visited. They saved many of the home&rsquo;s original features while opening it up to sunlight and a flowing floor plan. They increased storage space by cleverly working cabinetry and closets into the structure&rsquo;s original fabric. 

        p New doorways, windows, and lighting mix with old hardwoods, fireplaces, and turreted rooms, but whimsical touches remain, such as the sunburst transom in the entry hall and the gingerbread trim on the belvedere balcony. Don&rsquo;t miss the beautiful stained-glass window by local artisan Charlie Gebus in the children&rsquo;s bathroom on the second floor.

        +homeSponsor("Jenny Levine Photography")

    //- 13
    li
        h3
            | 89 Spruce Street
            small Amy Higgins and Mike Simpson

        +tourImage("/assets/img/2020/toh/89-spruce", "89 Spruce")
        
        p This cozy Neo-Victorian was erected on the site of a mansion-turned-brothel that burned in the 1970s. In 1989, an Inman Park neighbor built four houses on the large lot. When this house hit the market in early 2014, Amy Higgins and Mike Simpson snatched it up, having outgrown their townhome in Inman Mews but wanting to stay in the neighborhood they had come to love. 

        p The couple refinished the wood floors, replaced the HVAC system, and remodeled the upstairs bathrooms, where sturdy marble flooring now provides a stylish counterpoint to the glass wall tiles that remain. In the bright master, grand bay windows offer a generous view of the street below. The dining room chandelier and back-stoop light give a modern twist to Victorian stained glass, echoing the house itself. Playful dentil trim and other moldings grace the façade. 

        p In 2017, Amy and Mike converted the breezeway between the house and garage into a home office. In the kitchen, look for Amy&rsquo;s architectural drawings for a planned studio apartment/man cave above the garage. At the back of the small lot, Amy and Mike have refurbished the flagstone patio and goldfish pond to create a lush and intimate outdoor space where they enjoy gathering with friends and family. 

        +homeSponsor("CertaPro Painters of Atlanta")

    //- 14
    li
        h3
            | 1015 Edgewood Avenue
            small Inman Park Methodist Church
            small Reverend Doctor Tara Paul, Minister
        
        +tourImage("/assets/img/2017/toh/2017-1-1015-edgewood-umc", "Inman Park Methodist Church")
        
        p After the Civil War ended, building supplies and money were in short supply. Yet a small group of parishioners gathered to meet-first in homes, then in a small brush arbor, and finally in a wood-frame church in the Edgewood community. They founded the Inman Park Methodist Church, which celebrated its 150th anniversary in 2015. Twenty-three-year-old architect Willis Franklin Denny II (1874-1905) designed the current Romanesque-style sanctuary, constructed of Stone Mountain granite at a cost of $12,620. The cornerstone was laid on September 6, 1897, and the building was dedicated on April 17, 1898.  
 
        p On the sanctuary walls, large patches of &ldquo;Denny Blue&rdquo; calcimine paint can still be seen. The Coca-Cola Corporation founder Asa Candler commissioned one of the large stained-glass windows as a tribute to his mother, Martha Beall Candler, at a cost of $125, and had it inscribed with the phrase, &ldquo;She hath done what she could&rdquo; (Mark 14:8). 
 
        p Service to the community is a strong tradition in Inman Park. At the communion rail of this church, Asa Candler gave his brother, Bishop Warren Candler, a check for one million dollars to found Emory University. 

        p As Inman Park and the surrounding neighborhoods continue to thrive, so does this church, reflecting the diversity and uniqueness of the community.
