mixin tourImage(imageName, alt)
    img(sizes="(min-width: 1024px) 940px, 100vw" srcset=`${imageName}-1440.jpg 1440w, ${imageName}-940.jpg 940w, ${imageName}-720.jpg 720w, ${imageName}-366.jpg 366w, ${imageName}-326.jpg 326w` src=`${imageName}-326.jpg` alt=alt).TourHomeImage

mixin homeSponsor(name, url)
    p.HomeSponsor
        | Sponsored by:
        if url
            | 
            a(href=url target="_blank")= name
        else
            span=name


ul.TourHomes.u-container

    li
        h3 
            | 760 Edgewood Avenue
            small Inman Park Cooperative Preschool (IPCP)
        p Established by 27 families in 1981, IPCP began operations in the basement of Lizzie Chapel Baptist Church. The Cooperative model allows parents to participate actively in their children&rsquo;s preschool experience, working closely with teachers to provide a happy and secure, play-based environment. IPCP&rsquo;s nature-based curriculum encourages hands-on experiential outdoor learning, connecting children with the Earth and its beauty.

        p As the Cooperative grew, a larger, more permanent home was needed. In 1989, the IPCP community purchased and renovated the building at 760 Edgewood Avenue. At the time, the building had become the victim of neglect and urban decay, the roof having collapsed. Today that area serves as a courtyard playground. In 1995, two vacant gravel lots across Waddell Street were purchased, and the transformation into an enriching, outdoor classroom began. The Edgewood building was again renovated in 2008 to convert the six small existing classrooms into one large, airy learning space.

        p After 40 years, IPCP has yet another opportunity to grow as we look to build on our property across Waddell, erecting a new building while maintaining our outdoor garden, trees and play area. Modeled construction plans are available for view on the tour.

        p For more information, please visit: <a href="https://www.ipcp.org/our-story">https://www.ipcp.org/our-story</a>

        +homeSponsor("Founding Families of IPCP", "https://www.ipcp.org/")
        
    li
        h3
            | 80 Spruce Street
            small Lauren &amp; Kevin Thames

        //- +tourImage("/assets/img/2020/toh/1109-colquitt", "1109 Colquitt")

        p Fifty years ago this 1891 Queen Anne was broken up into small apartments. In what is now the music room, tenants used a coin-operated laundry. Today, this grand abode boasts a main floor guest suite, a new master bedroom suite, and a cozy apartment tucked away on the lower level. The striking black-and-white exterior of the house continues across the wrap-around porch and through the massive front door. In recent years owners Kevin and Lauren undertook a total renovation of the oldest house on the street. With their designer,&nbsp;Carl Mattison, they chose a vintage chic look that mixes old and new, reminiscent of Parisian hotels they have visited.&nbsp;They saved many of the home&rsquo;s original features while opening it up to sunlight and a flowing floor plan. They increased storage space by cleverly working cabinetry and closets into the structure&rsquo;s original fabric. 

        p New doorways, windows, and lighting mix with old hardwoods, fireplaces, and turreted rooms, but whimsical touches remain, such as the sunburst transom in the entry hall and the gingerbread trim on the belvedere balcony. Don&rsquo;t miss the beautiful stained-glass window by local artisan Charlie&nbsp;Gebus&nbsp;in the bathroom on the second floor.

    li
        h3 
            | 81 Spruce Street 
            small Klaus Roesch and Carol Worthman 
        p This mid-1890s foursquare, built entirely from heart pine, was not designed to be &ldquo;fancy&rdquo;; it was just a generous residence for a prosperous merchant, according to homeowners Klaus Roesch and Carol Worthman. A tenement house for decades, with every room occupied, it once accommodated up to 24 boarders. In the early 1970s, urban pioneers Furman and Rosalyn Smith bought and rescued the house, undertaking extensive restoration before they sold it in 1983. 

        p Klaus &amp; Carol bought the unoccupied, water-damaged house in 1986. They have spent years working on restoration and improvements, from repairing the roof and shoring up the sinking porte coch&egrave;re to rebuilding chimneys and extensively restoring the exterior. They converted a lean-to into a butler&rsquo;s pantry and breakfast room. To link house and garden, in 2010 they added a large, window-filled garden room. The windows have built-in roll-up screens, and the granite steps are remnants from the Washington D. C. Metro construction. Most recently, the 1970s kitchen was replaced with a chef&rsquo;s kitchen featuring Brazilian cherry counters and ipe floors.  

        p An architect specializing in historic preservation, Klaus is also a passionate woodworker.
        p He and Carol, a professor of anthropology, enjoy gardening and ensuring something is always blooming outside. 

        +homeSponsor("Overeducated Painters", "http://www.overeducatedpainters.com/")

    li
        h3 
            | 81 Spruce Carriage House
            small Liv Estrup
        p Follow the garden path from 81 Spruce to the carriage house. Built in the 1920s, it originally provided a garage with an upstairs living quarters and fireplace. Structural damage from fire, discovered during renovation in the 1990s, meant the carriage house had to be rebuilt. The present-day central structure occupies the same footprint, and the roofline mirrors the original.

        p The homeowner, architect Klaus Roesch, salvaged many windows, doors, and the oak floors from a much-loved 1930s apartment building at 1355 Peachtree Street across from the High Museum. Before that building was demolished, he removed the materials, loaded them into his Saab, and stored them until the carriage-house reconstruction commenced in 1993. These historic elements add character and charm throughout the space. The homeowners used heart pine boards salvaged during demolition to create a wall of exposed wood in the upstairs living area, and an adjacent deck offers space to relax outdoors. (The upstairs spaces are not on tour.) In 1999, the Carriage House received an Award of Excellence in Adaptive Use from the Atlanta Urban Design Commission.

        p Most of the artwork throughout the carriage house was created by its resident, artist Liv Estrup. Her upstairs bedroom doubles as a studio, complete with easels and supplies.

    li
        h3 
            | Inman Park Motor Works, 820 Dekalb Avenue, Unit 5
            small Mary Larkin and Marianne Cordora

        p Arriving at this sleek, comfortable industrial loft, you may see Bolto, the owners&rsquo; Italian water dog, resting on the wide limestone windowsill near the front door. The stone&mdash;which appears throughout the unit&mdash;is one of many stylish touches the owners chose when the loft was renovated five years ago. 

        p Architects Pritchett &amp; Dixon took the loft down to the studs before designing this beautiful space where functionality abounds. To soften the sounds of intown living, insulated drywall covers the original cinderblock. The furnace is tucked on its side above the pantry. Guest seating hides beneath the living room coffee table. A long, shallow built-in provides extra storage. Contemporary decor, in shades of charcoal and natural wood, is offset by the dining area&rsquo;s Biedermeier cabinet, purchased decades ago from the antiques department of bygone Rich&rsquo;s department store. Paintings and craftwork, most by local artists, grace the walls. A focal point of the living room is Tamarind, by former Inman Park resident Michael Dines.

        p The kitchen overlooks the leafy courtyard, which admits light to the main living areas and provides a backdrop for the master bedroom suite, featuring gleaming Italian-tiled bathroom walls, an office with a stunning partner desk custom-built of wenge and walnut, and Bolto&rsquo;s private alcove.

        +homeSponsor("Distinctive Appliances", "https://distinctiveappliancesatlanta.com/")

    li
        h3 
            | Inman Park Motor Works, 820 Dekalb Avenue, #17
            small Russ Haynie and Todd Brunsvold

        p Russ and Todd, eager to live in a loft, bought this unit in 2018. An extensive nine-month renovation provided a second bedroom and bathroom on the main floor and a reconfigured staircase. The sleek new kitchen features natural wood cabinets and marble countertops. The owners, passionate about cooking and entertaining, included an induction range next to the gas stove, a wine cooler, and a built-in coffee maker. The original ceiling remains, as do the textured scars on the concrete floor dating from its early days in the 1930s motor works. 

        p Contemporary work by Atlanta artists is displayed throughout. The main living area holds Martha Whittington&rsquo;s prototypes for large sculptures. As you ascend the stairs you will see fiber artist Laura Bell&rsquo;s work. In the master bedroom hang five photographs from Matt Haffner, and in the master bathroom three colorful acrylic hatchets by Ann-Marie Manker.

        p Todd&rsquo;s office space on the second floor, adjacent to the master bedroom, is accented by his red industrial tool chest, repurposed for office and sewing supplies. The space was designed to maximize light from the original motor works windows. French light fixtures, including the yellow theater spotlight that illuminates the stairwell, emphasize the residence&rsquo;s industrial touches, a homage to its origins as an engine repair shop.



    li
        h3 
            | 47 Delta Place
            small John and Kris Dwyer, Jack and Grace
        p This 1904 house, built by Mr. Frederick Frederick, was cut up into apartments decades ago. Previous owners tackled early renovations before the Dwyers bought the house in 1992 and slowly rehabilitated the front portion. The gracious front porch leads to an entryway that showcases a heart-pine staircase. The library features a porch-baluster chandelier, tuxedo-styled window treatments, and haberdashery mannequins. 

        p A second renovation, in 2005, rebuilt the back half, producing a large kitchen; renovated bathrooms; a laundry; and a second staircase, which pauses at a landing with a half bath. On the second floor you&rsquo;ll find the remodeled master suite with a Lebanese tile mural in the bath. The dining room, with a color scheme that evokes old silver, houses a table that grows to seat 22 diners. 

        p Kris and John&rsquo;s eclectic style, seen throughout the house and back yard, is the result of years of collecting and using their found items in unusual ways. For example, the kitchen displays chocolate molds, pottery by Inman Park&rsquo;s Polly the Potter, and a nineteenth-century commercial butcher&rsquo;s counter repurposed for wine storage. Outside, a pathway meanders from the wrought-iron screened porch to a fishpond, where Atlanta&rsquo;s skyline is echoed in the granite curbing, and a cozy fire pit area.


    li
        h3 
            | 908 Edgewood Avenue
            small Sara and Jay Doyle
        p This Jacobean Revival house was designed by architect W. T. Downing in 1899 for Ernest and Emily Woodruff. While living here, Ernest led a group of investors in 1919 to buy the Coca-Cola Company from his rival, fellow Inman Park resident Asa Candler. The Woodruffs were significant contributors to Atlanta, and Ernest&rsquo;s son, Robert, was the president of Coca-Cola from 1926 to 1955.  

        p The residence has gone through many phases, serving as a rooming house, old-age residence, and storage space for antiques. When the Doyles bought it in 2004, the house had no functioning kitchen, a crumbling front porch, a leaking roof, and an overgrown yard. Since then, the Doyles have embarked on a lifelong renovation project. 

        p The house retains its original 11 fireplace mantels and tile surrounds. Note the dining room&rsquo;s distinctive columns, built-in hutch, and doors leading to the circular porch. The library&rsquo;s custom-built bookcase, inspired by the original wood moldings, holds a collection of legal volumes containing decisions written by Judge Sara Doyle. The Doyles&rsquo; most recent project added a screened porch, double garage, and newly landscaped back yard with a New Orleans-style fountain. Enjoy the lovely breeze that has wafted across the porch for over a century as you contemplate this fantastic structure.


    li
        h3 
            | 872 Euclid Avenue
            small Sharon and Clark Tate
        p As you walk through the iron gate of this 1910 house, notice its intricate design, echoing that of the original leaded-glass windows that front the house and adorn the dining room. 

        p Eager to move into Inman Park, Sharon and Clark, an architect, purchased this house sight unseen. Clark and his company removed the back of the house, adding a vaulted ceiling to the kitchen, expanding the master bedroom suite, and reconfiguring the third floor. Seven original fireplaces stand out amid mid-century furniture and antiques. Crisp white rooms are juxtaposed with dramatic dark rooms. Contemporary art hangs everywhere. As you walk upstairs, note the ethereal sculpture by Yuko Nishikawa. In contrast to these current pieces is the large painting in the dining room, a relaxed nude from 1899.

        p The backyard has been completely reimagined. A lawn and a custom-built garden shed replaced a large patch of bamboo. Bordering the patio are stone benches original to the home. Suspended from a mulberry tree nearby is a contemporary chandelier, designed by Clark. Tucked between tea olive trees and oakleaf hydrangeas are five stone faces that once graced a building downtown, now demolished. On your way out, don&rsquo;t miss one more antique&mdash;the 1977 Bronco.

        +homeSponsor("Leigh Hays, Realtor", "https://leighhays.atlantafinehomes.com")

    li
        h3 
            | 166 Elizabeth Street
            small Alison & Jeff Gordon
        p Having fallen in love with this house when they lived nearby, native Atlantans Alison and Jeff Gordon quickly bought it when it came on the market in 2019. Although the house had undergone previous renovations, the Gordons were determined to bring it back to its original grandeur. The result is stunning.

        p The home&rsquo;s first owner was John M. Cooper, who owned Foote and Davies publishing company. It was built in the Shingle style, which flowered in the coastal northeast and is uncommon in the South. The style features shingled exterior walls, irregular, steeply pitched rooflines, an extensive porch, and wide overhanging eaves. The exaggerated roof brackets seen on this example, however, were borrowed from the Craftsman style. 

        p The Gordons love that their home, which has never been on tour before, retains its original stained-wood wainscoting, coffered ceilings, beautiful hand-carved staircase balustrade, and wood windows, as well as antique 1920s-era hardware. Of special note is the beautifully crafted living-room fireplace mantel, which Alison helped design. In the foyer you will see a copy of a 1915 map of Atlanta, commissioned by John Cooper himself. 

        +homeSponsor("Home Luxury Real Estate", "http://tachacostner.homegeorgia.com/")

    li
        h3
            | 1015 Edgewood Avenue
            small Inman Park Methodist Church≈
            small Reverend Doctor Tara Paul, Minister
        
        //- +tourImage("/assets/img/2017/toh/2017-1-1015-edgewood-umc", "Inman Park Methodist Church")
        
        p After the Civil War ended, building supplies and money were in short supply. Yet a small group of parishioners gathered to meet-first in homes, then in a small brush arbor, and finally in a wood-frame church in the Edgewood community. They founded the Inman Park Methodist Church, which celebrated its 150th anniversary in 2015. Twenty-three-year-old architect Willis Franklin Denny II (1874-1905) designed the current Romanesque-style sanctuary, constructed of Stone Mountain granite at a cost of $12,620. The cornerstone was laid on September 6, 1897, and the building was dedicated on April 17, 1898.  
 
        p On the sanctuary walls, large patches of &ldquo;Denny Blue&rdquo; calcimine paint can still be seen. The Coca-Cola Corporation founder Asa Candler commissioned one of the large stained-glass windows as a tribute to his mother, Martha Beall Candler, at a cost of $125, and had it inscribed with the phrase, &ldquo;She hath done what she could&rdquo; (Mark 14:8). 
 
        p Service to the community is a strong tradition in Inman Park. At the communion rail of this church, Asa Candler gave his brother, Bishop Warren Candler, a check for one million dollars to found Emory University. 

        p As Inman Park and the surrounding neighborhoods continue to thrive, so does this church, reflecting the diversity and uniqueness of the community.
