mixin tourImage(imageName, alt)
    img(sizes="(min-width: 1024px) 940px, 100vw" srcset=`${imageName}-1440.jpg 1440w, ${imageName}-940.jpg 940w, ${imageName}-720.jpg 720w, ${imageName}-366.jpg 366w, ${imageName}-326.jpg 326w` src=`${imageName}-326.jpg` alt=alt).TourHomeImage

mixin homeSponsor(name)
    p.HomeSponsor
        | Sponsored by:
        span=name


ul.TourHomes.u-container

    //- 1
    li
        h3
            | 1015 Edgewood Avenue
            small Inman Park Methodist Church
            small Reverend Doctor Tara Paul, Minister
        
        +tourImage("/assets/img/2017/toh/2017-1-1015-edgewood-umc", "Inman Park Methodist Church")
        
        p After the Civil War ended, building supplies and money were in short supply. Yet a small group of parishioners gathered to meet - first in homes, then in a small brush arbor, and finally in a wood-frame church in the Edgewood community. They founded the Inman Park Methodist Church, which celebrated its 150th anniversary as a congregation in 2015, with several descendants of the early families in attendance.  
 
        p Twenty-three-year-old architect Willis Franklin Denny II (1874-1905) designed the current Romanesque-style sanctuary building, constructed of Stone Mountain granite at a cost of $12,620. The cornerstone for the building was laid on September 6, 1897, and the building was dedicated on April 17, 1898.  
 
        p Note the original furniture and architectural details. Coca-Cola Corporation founder Asa Candler commissioned one of the large stainedglass windows as a tribute to his mother, Martha Beall Candler, at a cost of $125; he had it inscribed with the phrase, "She hath done what she could." Large patches of the original "Denny Blue" calcimine paint can still be seen. Chipping plaster provides a stark reminder of many years of deferred maintenance when the neighborhood and congregation were in decline. Fortunately, the church now flourishes, attracting many young families and residents new to the area.  
 
        p Service to the community is a strong tradition in Inman Park. At the altar of this church Methodist Bishop Warren Candler accepted a check for one million dollars from his brother, Asa Candler, to found Emory University.
        
        p As Inman Park and the surrounding neighborhoods continue to thrive, so does this church, reflecting the diversity and uniqueness of the community.
 
    //- 2
    li
        h3
            | 116 Elizabeth Street
            small Diane and John Floyd
        
        +tourImage("/assets/img/2019/toh/2-116-elizabeth", "116 Elizabeth Street")
        
        p The Floyds have lived longer in this beautiful 1909 Neoclassical-style house than any previous owners. Since 1984, they have worked tirelessly to undo damage inflicted over the 109 years since the house was built for produce broker Robert Cameron and his family. After 1920, the building became in turn a fraternity house, a boarding house, and an apartment house. Each iteration brought unfortunate structural changes. Much exterior detail was removed in the 1940s, including porches and chimneys you can see on original photos in the entrance hall.

        p Although the exterior is Neoclassical, the floor plan is asymmetric, in the Victorian style, with a staircase ascending on the side of the hall near the front door rather than the classical central staircase. To blend the two styles, the builder added panels under the windows beside the front door. The entrance hall is original, but other rooms on the main floor reflect the Floyds&rsquo; many improvements. The sunroom, kitchen, and pantry were completely renovated. Note that luxurious oak floors adorn the entry and living room while more economical heart pine was used in the family living spaces.

        p Today the Floyds enjoy entertaining in their inviting home&rsquo;s large rooms. As you leave, stop to admire the back garden with its view of Springvale Park.

    //- 3
    li
        h3
            | 956 Euclid Avenue
            small Wendy and Bob Patterson
            small Taylor Patterson and Leif Patterson

        +tourImage("/assets/img/2019/toh/3-956-euclid", "956 Euclid Avenue")
        
        p Renovation has been ongoing since the Patterson family moved into this 1904 Craftsman in 1984. Having once housed Rouse&rsquo;s Room &amp; Board, it featured seven different siding materials and swept dirt yards. (A friend suggested standing across the street and &ldquo;squinting a little&rdquo; to see its potential.) Nevertheless, many period details survived, including pocket doors, moldings, wood floors, doorknobs, beamed ceilings, a claw foot tub, and seven fireplaces&mdash;in fact, they survived even the alleged spontaneous combustion of a boarder in the dining room.

        p The house enjoyed a kitchen overhaul in 2018, bringing in quartz countertops, a farm sink, and warming drawers. The kitchen mural and living and dining room walls were painted by artist Tom Swanson, with each mark of the faux bird&rsquo;s eye maple finish in the dining room made by a single pinkie finger. Several areas&mdash;including the foyer mantle&mdash; showcase Wendy&rsquo;s knack for turning Hershey&rsquo;s Kisses foil into art objects.

        p The rear porch with custom smoker enclosure functions as an outdoor living room. Other favorite spots are the lush front and side gardens and a newly revamped saltwater pool with pottery by a neighborhood artist, the late Christine Sibley. A casita offers quiet space near the patio&rsquo;s hot tub, alongside Bob&rsquo;s bonsai collection.

    //- 4
    li
        h3
            | 216 Hurt Street
            small Ben Tompkins and Steven Satterfield

        +tourImage("/assets/img/2019/toh/4-216-hurt", "216 Hurt Street")

        p The plans for this 1927 bungalow can be found in Brick and Colonial Houses by Leila Ross Wilburn, Georgia&rsquo;s first female architect. In 1975, this house was converted from weekly slum rental units back to a single-family home. Since then, several owners have contributed to its restoration. The current owners completed a yearlong renovation in 2018 that opened communal areas and reconfigured bedrooms for more efficient use of space, preserving historic elements wherever possible. They added a foyer adjoining the existing brick patio and enclosed a sun porch to brighten and increase the communal space.

        p The kitchen was expanded to the back of the house, providing deck access and adding storage. The backsplash was inspired by a visit to a Rho&#770;ne Valley hotel, where they saw Calacatta marble with broken joints they thought would perfectly suit their irregular old house.

        p The remodel also included adding the bathroom between the guest room and cozy reading room. By moving bookshelves from next to the fireplace into the back hall, they opened up useable space in the living room while using often overlooked hall space. The new French doors in the upgraded master suite provide a view of the plunge pool and back deck.
        
        +homeSponsor("Red Level Renovations")

    //- 5
    li
        h3
            | 215 Hurt Street
            small Lisa and Saleem Malik
            
        +tourImage("/assets/img/2019/toh/5-215-elizabeth", "215 Hurt Street")
        
        p Over the years, this 1910 American Foursquare has housed many current Inman Park residents. After being divided into four weekly rental units in the 1960s, it has been reconfigured several times. When the Maliks moved here in 2014, they replaced a 1980s rear addition with one of their own.

        p Having grown up in a 250-year-old house in New England, Lisa wanted an old house&mdash;with a 21st century kitchen. Saleem wanted to replace the airplane-bathroom-sized sink in the master bathroom. Their 2018 renovation included converting an existing kitchen into the new butler&rsquo;s pantry and half-bath. (Note how the wooden floor tiles demarcate the original wall.) They replaced the staircase, reclaiming treads for the butler&rsquo;s pantry countertop and the kitchen vent hood in order to retain original elements in the new construction. Removing a bathroom uncovered the brick wall in the master bedroom. The guest bedroom closet was converted into a bathroom, and the cabinets flanking the window use doors salvaged from other parts of the house.

        p The home is filled with flea market finds, found art and vibrant color and texture, combining Saleem&rsquo;s unorthodox style with Lisa&rsquo;s keen eye for design. Saleem made the beer- cap-covered chair, while Atlanta artist O.M. Norling created the cow painting next to the staircase.
        
        +homeSponsor("Lindsey Cheney")

    //- 6
    li
        h3
            | 156 Waverly Way
            small Stephanie and Cam McCaa 

        +tourImage("/assets/img/2019/toh/6-156-waverly", "156 Waverly Way")
        
        p The McCaas fell in love at first sight with this 1908 gem and have spent the past 22 years renovating it inside and out. Like many Inman Park houses, this one spent years divided into slum weekly rental units, which helped to save original features, including heart-pine floors and ten fireplaces. Nail marks on the living room floor reveal the sites of temporary walls.

        p In addition to completing less glamorous upgrades, such as adding central air-conditioning, the McCaas have designed a new kitchen to suit Cam&rsquo;s passion for cooking, turned a closet under the stairs into a half bath, and re-configured the downstairs living space to combine the kitchen with a great room. The home&rsquo;s artwork reflects the McCaas&rsquo; love of travel in Europe and Asia, and the copper platters over the living room mantel were collected by Stephanie&rsquo;s parents, who lived in Iran in the 1950s.

        p In 2016, the McCaas renovated the master bedroom suite. They were thrilled to swap marble and subway tile for the 1980s bathroom with its molded plastic shower insert and add a walk-in closet behind a shiplap wall. At the same time, they converted part of the original master bedroom into a hall bathroom for their daughters.
        
        +homeSponsor("Cam McCaa")

    //- 7
    li
        h3
            | 176 Elizabeth Street 
            small Michelle Nunn and Ron Martin

        +tourImage("/assets/img/2019/toh/7-176-elizabeth", "176 Elizabeth Street")
        
        p Every aspect of this elegant 1908 American four-square offers a glimpse into Inman Park&rsquo;s history. The wrap-around front porch provides a broad perspective of Elizabeth Street, affording views of the original homes planned by Inman Park founder Joel Hurt. The newly built back porch overlooks recently restored Springvale Park, designed by the Olmsted brothers and established in 1889. The large stained glass window halfway up the staircase was replaced in the 1940s when an inebriated party guest fell through the original. In 1972, former owner Ken Thompson designed the butterfly logo for Inman Park Restoration (now the Inman Park Neighborhood Association).

        p The current owners have renovated the house extensively since they moved here in 2007. Filled with family antiques and personal political memorabilia, their home also displays beautiful folk art as well as international keepsakes from Michelle&rsquo;s travels. Be sure to see the elaborate cactus woodcarving from Oaxaca, which serves as a lamp in the cozy library.
        
        p The spacious rooms on three levels recall the structure&rsquo;s history as a mid-century rooming house while also feeling bright and contemporary. For their new kitchen, Michelle and Ron wanted lots of light, so they had most of their storage built into drawers beneath the countertops, leaving plenty of room for windows.

        +homeSponsor("Jenny Levine Photography")

    //- 8
    li
        h3
            | 230 Elizabeth Street
            small Tamara and Mark Jones

        +tourImage("/assets/img/2019/toh/8-230-elizabeth", "230 Elizabeth Street")
        
        p No one had lived in this 1907 house for at least a decade when Tamara and Mark Jones bought it. They realized that beneath the dilapidation was an elegant structure waiting to be revealed. (See the "before" photos inside the house.) After removing seven dumpsters of trash, replacing the plumbing and wiring, restoring the heart-pine trim, and adding their own creative designs, the Jones family moved here from Lake Avenue in 2005.

        p Historical items discovered during renovations now adorn the walls of the main floor hallway and living room. They blend beautifully with family antiques, including the entryway's restored 1909 cast-iron piano. On this venerable instrument generations of Tamara's family learned to play. On the second floor, you will find a butterfly-themed stained-glass window that doubles as a bedroom wall, reflecting light from the buildings of downtown Atlanta. Beneath the window lives Lucy, the Joneses' friendly Dwarf Hotot rabbit.

        p On the ground level is a kid pit for younger family members as well as red stadium chairs salvaged from the Georgia Dome. A full workshop and Mark's office-with his solar panel desk-can be seen before you emerge into the back yard, where you'll wish you could shoot some hoops on the basketball court!

    //- 9
    li
        h3
            | 925 Austin Avenue
            small Janice and Dave Darling

        +tourImage("/assets/img/2019/toh/9-925-austin", "925 Austin Avenue")
        
        p As Janice and Dave Darling anticipated their 2002 wedding, they walked through many Atlanta neighborhoods searching for their perfect home. In Inman Park they discovered a freshly built Queen Anne cottage on property left vacant by the failed attempt to build the Presidential Parkway. It&rsquo;s where they settled and live today with their two daughters and a menagerie.

        p The house sits among the treetops, affording glimpses of neighborhood parades from the front porch. The living room reveals Janice&rsquo;s passion for New Orleans, with its hammered tin ceiling, gothic colors, and exotic decoupaged desk. Large floral motifs repeat on the furniture and draperies. Be sure to see the glam gold powder room.

        p Dave&rsquo;s fondness for folk art appears in every room, up the stairs, and in the master suite. The sophisticated black and white master bathroom has hand-painted geometric tiles. One daughter&rsquo;s room is a study in contrasting colors and cozy textures, while the other&rsquo;s is a Harry-Potter-inspired wonderland. The girls share a chalkboard library and playroom, accessed by a magical sliding door.

        p Don&rsquo;t be surprised if you hear the Darlings&rsquo; chickens! They make this family feel they have a country life here in intown Atlanta.
        
        +homeSponsor("Leigh Hayes")
