mixin tourImage(imageName, alt)
    img(sizes="(min-width: 1024px) 940px, 100vw" srcset=`${imageName}-1880.jpg 1880w, ${imageName}-1440.jpg 1440w, ${imageName}-940.jpg 940w, ${imageName}-720.jpg 720w, ${imageName}-366.jpg 366w, ${imageName}-326.jpg 326w` src=`${imageName}-326.jpg` alt=alt).TourHomeImage


ul.TourHomes.u-container

    //- 1
    li
        h3
            | 1015 Edgewood Avenue
            small Inman Park Methodist Church
            small Reverend Max Vincent, Minister
        
        +tourImage("/assets/img/2017/toh/2017-1-1015-edgewood-umc", "Inman Park Methodist Church")
        
        p After the Civil War ended, building supplies and money were in short supply. Yet a small group of parishioners gathered to meet - first in homes, then in a small brush arbor, and finally in a wood-frame church in the Edgewood community. They founded the Inman Park Methodist Church, which celebrated its 150th anniversary as a congregation in 2015, with several descendants of the early families in attendance.  
 
        p Twenty-three-year-old architect Willis Franklin Denny II (1874–1905) designed the current Romanesque-style sanctuary building, constructed of Stone Mountain granite at a cost of $12,620. The cornerstone for the building was laid on September 6, 1897, and the building was dedicated on April 17, 1898.  
 
        p Note the original furniture and architectural details. Coca-Cola Corporation founder Asa Candler commissioned one of the large stainedglass windows as a tribute to his mother, Martha Beall Candler, at a cost of $125; he had it inscribed with the phrase, "She hath done what she could." Large patches of the original "Denny Blue" calcimine paint can still be seen. Chipping plaster provides a stark reminder of many years of deferred maintenance when the neighborhood and congregation were in decline. Fortunately, the church now flourishes, attracting many young families and residents new to the area.  
 
        p Service to the community is a strong tradition in Inman Park. At the altar of this church Methodist Bishop Warren Candler accepted a check for one million dollars from his brother, Asa Candler, to found Emory University.  
 
    //- 2
    li
        h3
            | 177 Elizabeth Street
            small Regina Brewer and Joe Castellano
        
        +tourImage("/assets/img/2018/toh/2-177-elizabeth", "177 Elizabeth Street")
        
        p When Regina and Joe moved to Inman Park in 1996, they looked longingly at 177 Elizabeth Street and hoped that someday it might be theirs. Their dream came true in 2016, when they became the proud owners of this 1890 Queen Anne Victorian after the previous owners, longtime Inman Park neighbors, moved to a smaller home nearby. The house was built for W.C. Hale (for whom Hale Street was named) at a cost of $5500. While it stayed in the Hale family for many years, it was eventually divided into apartments. 

        p The previous owners recreated the staircase and combined the units back into a single-family home. They also wonderfully renovated the main floor and, in 2000, completed a new kitchen. To make the house their own, Regina and Joe chose a lighter paint scheme. They had the second floor reconfigured, adding a master suite, and finished out the fire-damaged attic. The third floor, which now holds cozy bedrooms for their two teenage daughters, is accessed via a new "floating" staircase, designed so that the beautiful hall windows could be retained.

        p All the wood floors were restored, the plaster walls preserved, and the window and door hardware stripped. Second- and third-floor windows were completely restored. All the fireplaces were restored and fitted with working gas coal baskets. The exterior was repaired and restored, and then transformed with a rich color palette. Regina, who is both a preservation planner and general contractor, used the Georgia Historic Preservation State Tax Incentive Programs to help defray the restoration costs.

    //- 3
    li
        h3
            | The Carriage House at 177 Elizabeth Street, Apartment #3
            small Ruth Wall and Chipper

        +tourImage("/assets/img/2018/toh/3-177-elizabeth-carriage", "177 Elizabeth Street, Carriage House")
        
        p In the 1880's, grand Victorian homes of city magnates began to appear in Inman Park, the first planned suburb in Atlanta. Most had an accessory building to accommodate horses and carriages. Nearly 130 years later, some of these carriage houses still stand, recalling past times, however much they may have been altered. These carriage houses, along with basement apartments, provided essential supplemental rental income to Inman Park's restoration pioneers. 

        p This three-story carriage house contains two separate apartments. The lower storage area, which still has the original granite-block foundation, remains nearly the same as it did in the 1890s. The main-level unit is a one-bedroom, one-bath dwelling with a spacious screened porch that overlooks the rear lawn, which, together with the neighboring back yards, is nicknamed "the Hollow." 

        p The current tenant, Ruth Wall, lived in Inman Park in one of the Victorian houses on Hurt Street for many years before moving to Biloxi, Mississippi. She now rents this unit while she collaborates on writing a book about the successful battles by intown neighborhoods to stop the Stone Mountain Freeway and the original intrusive configuration of the Presidential Parkway. The home, which Ruth shares with Chipper, her six-year-old Airedale terrier, clearly shows her love of her native New Orleans and of entertaining with a dramatic flair. 

    //- 4
    li
        h3
            | 196 Waverly Way
            small Marji McCollough and Dirk Schroeder

        +tourImage("/assets/img/2018/toh/4-196-waverly", "196 Waverly Way")

        p Don't be fooled by the modest exterior of this stucco house, one of only two in Inman Park. Once you enter, you find a stately residence with surprises around almost every corner. Large rooms with 11-foot coved plaster ceilings and spacious hallways lead to the kitchen, sun porch, and veranda overlooking a beautiful garden with Atlanta's skyline as a backdrop. This 1896 English-cottage-style house, embellished with Tudor-revival elements, was built on a hillside on land owned by Asa Candler of Coca-Cola fame.

        p Marji McCullough and Dirk Schroeder bought the home in 2014 when it was advertised as "a diamond in the rough." With the goal of bringing the home back to its former glory, they renovated extensively, almost doubling the living space and building out a spacious master suite in the attic and a "man cave" and bicycle room in the stone-walled basement. Look for the leaded-glass windows, heart-pine flooring repurposed from the attic, original fireplace covers, and rooms with coved ceilings and curved walls. The kitchen island and counters were built from beams discovered during the attic renovation. The Georgia Historic Preservation State Tax Incentive Programs helped pay for their restoration. 

        p Some quirky history was made in this spot. Newspaper articles tell of Inman Park's Chrysanthemum Flower Festival, held here in 1909. During prohibition in 1924 a liquor syndicate was run out of the house. A year later, police broke up a gambling ring here. Today the home is a cozy oasis in Inman Park, from which you can almost reach out and touch downtown Atlanta.


    //- 5
    li
        h3
            | 213 Elizabeth Street
            small Ann and Bill Moore
            
        +tourImage("/assets/img/2018/toh/5-213-elizabeth", "213 Elizabeth Street")
        
        p This home says "welcome" with its inviting wrap-around front porch and a back deck made for entertaining. Its front room, parlor, dining room, music room, and many fireplaces make it an Inman Park classic. Built in 1896, as one of the early Inman Park homes it has seen the ups and downs of the neighborhood. At one point it was a 20-room boarding house; Charles Forrest Palmer, a real-estate developer responsible for building Atlanta's Techwood Homes, the first public housing project in the country, is said to have lived here while he wrote Adventures of a Slum Fighter. 

        p The Moores bought the house in 1996 when it was a tri-plex in need of major renovations. Bill began extensive structural projects, including installing large steel beams to level the house, replacing knob-and-tube wiring, and updating plumbing and HVAC systems. The second-floor apartments were transformed into four bedrooms, and the staircase was rebuilt from the main level to the attic. 

        p The basement was excavated, and the original brick support columns were reclaimed and used for the brick walkways and the driveway. The basement floor was finished, and an in-law suite was added. The kitchen got a makeover a few years ago. This past year the family undertook another renovation, refinishing floors, adding the music room, and renovating the bathroom on the main floor. Look for original stained-glass windows, an original clawfoot tub, and five fireplaces, as well as artwork collect by Bill and Ann. 

    //- 6
    li
        h3
            | 203 Hurt Street
            small Philip and Amy Covin 

        +tourImage("/assets/img/2018/toh/6-203-hurt", "203 Hurt Street")
        
        p This craftsman bungalow was built in 1909 from a plan by Leila Ross Wilburn, one of the first women architects in Georgia. During the 1960s and 1970s, it was a slum rental house. Neighbors tell stories of the comings and goings of various characters, including countless men who came by during business hours to visit a woman nicknamed "Hot Pants."

        p A little over a year ago, the house was bought by Philip and Amy Covin, who had always wanted to live in Inman Park and attended many of its prior festivals. They worked with their architects and contractor on a remodeling plan that added a new stairwell to link the basement apartment with the main living space. The plan also included a renovated kitchen and hall bath as well as an addition to accommodate a master bath and closet. Some of the Covins' favorite features include having a master bedroom on the main floor next to their 6-year-old son's room and the view from two new rear porches, which look out across Waverly Way toward Freedom Park.

        p To maintain the integrity and flow of the original house, they configured the remodeled kitchen so that the doorway into the living room mirrors the existing doorway between the living and dining rooms. They also retained the four original fireplaces with their cast-iron surrounds, the wooden beams in the living room, and the original floors, and they restored the original claw-foot tub. Next, they plan to install a reproduction of the original stained-glass transom window over the front door. The Georgia Historic Preservation State Tax Incentive Programs helped them pay for their restoration.

    //- 7
    li
        h3
            | 992 Carmel Avenue 
            small Anne and Charlie Henn

        +tourImage("/assets/img/2018/toh/7-992-carmel", "992 Carmel")
        
        p This is a hospitable house, made for entertaining, with its wrap-around porch, welcoming wide-open spaces, and bar in the front room. Owners Anne and Charlie Henn and their two children, who have lived here for the past four years, have hosted parties with well over a hundred people. They are the house's second owners, and they fell in love with its almost Addams-family-like second-empire-style exterior. Since moving in, the Henns have added an apartment above the garage.

        p Although dates only from 2003, this custom-built structure is filled with beautiful antique architectural details. Look for the art-nouveau lighting in the hallways and stained-glass windows in the stairwell and elsewhere. The rooms in the house open graciously onto one another, making circulation easy and culminating in the bright kitchen and family room. Another interesting feature is that all the bathroom sinks occupy refurbished dressers.
 
        p A bit of family history is preserved in the front room, where you will find a picture of one of Bermuda's early governors, who was related to Charlie. Look, too, for the seventeenth-century map of Bermuda by the distinguished Dutch cartographer Willem Blaeu. The collection of Republican campaign pins in the front room is not a political statement, but rather a tribute to Charlie's grandmother, who was a delegate to the 1960 Republican convention. An impressive collection of work by Atlanta artists is displayed throughout the Henns' home. 

    //- 8
    li
        h3
            | 343 Sinclair Avenue
            small Danielle Henry

        +tourImage("/assets/img/2018/toh/8-343-sinclair", "343 Sinclair")
        
        p For Danielle Henry, entertaining is an art, whether it be her Fall Harvest Wine Tasting, her Spring Soiree, or something novel. The canvas for her artistry is this newly expanded and renovated bungalow, which she has called home since 2010. Her party guests call it "Club Sinclair." 
         
        p Built in 1920 and renovated in 2015, the house now features natural flow, ample seating, and convenient places to rest a beverage, all of which Danielle was looking for when she renovated. Working with an architect and building contractor, she added a new master bedroom, an "Oprah-inspired" closet, and a bathroom (converted from a bedroom), while completely renovating the kitchen, refinishing and staining the floors, and redesigning the backyard deck. She even installed a bocce court.
         
        p With the help of her designer, Danielle created a wonderful new look for the interior. Beautifully simple, it is a harmonious blend of luxury and restraint, with the perfect balance between elegance and approachability, between glamour and comfort.  
         
        p After a long day working in marketing at Coca-Cola, Danielle looks forward to joining her cocker spaniel, Ace, in this jewel of a bungalow - just in time, that is, to open a couple of bottles of red, pop the hors d'oeuvres in the oven, and listen for that first knock at her front door! 

    //- 9
    li
        h3
            | 397 Sinclair
            small Megan Holder and Dan Chandler

        +tourImage("/assets/img/2018/toh/9-397-sinclair", "397 Sinclair")
        
        p This house, with its inviting front porch, is a classic Sears mail-order bungalow built in 1914. (Yes, in the early twentieth century one could order houses - both plans and the materials to build them - out of a catalogue.) Originally a two-bedroom one-bath house, it had been expanded to three bedrooms when Megan and Dan bought it about five years ago. They moved out for six months last year to remodel and create a fantastic space for entertaining. They added their dream kitchen, connected to a family room with high ceilings and a new back porch/patio area. They also added a guest bathroom and master closet. The trap door in the kitchen leads to a small basement where the original coal cart remains to this day. 

        p The home is decorated with beautiful artwork and photography, much of it by Megan. The portrait in the guest bedroom is by Burt Greenspan, the La Calma El Chaos paintings in the dining room are from Barcelona, and the painting above the fireplace is by Kelley Morley. In the office are ceremonial masks collected on trips to Korea, Mexico, Morocco, South Africa, Venezuela, Argentina, and Bangladesh. 

        p The couple has integrated a few family heirlooms into the décor. The bookshelves in the hallway are from Dan's great-great grandfather. Megan's grandfather was a geologist, and the triptych above the couch in the TV room comes from his archives. With their dog Harvey, Dan and Megan enjoy living here, and they spend a lot of time relaxing on their front porch or new back porch.

    //- 10
    li
        h3
            | 430 Sinclair Avenue
            small Elena and Prinz Pinakatt 

        +tourImage("/assets/img/2018/toh/10-430-sinclair", "430 Sinclair")

        p Their jobs first brought Elena and Prinz to Atlanta. Originally from Germany, they have owned two homes in Inman Park, with an intervening stint in Singapore. Finding themselves back in Atlanta in 2016, they returned to the neighborhood they love and purchased this 1906 bungalow.   
     
        p A previous owner had extensively renovated the house, essentially taking it down to the studs to create the open plan you see today. Preferring light, modern spaces, the Pinakatts replaced dark hardwood floors with lighter ones, refaced cabinets in the kitchen and baths, and painted the entire house white, inside and out. They particularly enjoy the open flow from the living room onto the porch, one step above the redesigned front yard, which they surrounded with a new stone wall. The yard now features an artificially turfed play area and relaxing seating. Other notable elements include a stone archway, three tall palm trees, and original hitching posts. 

        p The home contains several notable pieces of original art work, collected through family, travel, and work. On a table in the living room is a print by the British graffiti artist Banksy. In the dining room is a photograph, signed by congressional representative John Lewis, of the civil rights march from Selma to Montgomery. In the kids' playroom are prints from collages by the Los Angeles street artist Mr. Brainwash. Upstairs, on the wall between the master bedroom and bath, is the designer's scribble of Carrie's blue satin wedding shoes from the Sex and the City movie, which Manolo Blahnik gave them as a wedding gift.  

        p
            em Sponsored by Jenny Levine Photography

        //- +tourImage("/assets/img/2018/toh/", "alt")
