extends ../../_templates/layout

block title
    title #{globals.ipf.title} | Events | Tour of Homes

block contents

    +secondaryNav(globals.events.nav, "tour of homes")

    include ../../_includes/_banner
    //- +presentingSponsor("/assets/img/2017/sponsors/presenting-sponsors/north-american-properties.png", "North American Properties")

    article.u-container

        h1 Welcome to the Fiftieth Inman Park Tour of Homes!

        p The Inman Park Festival and Tour of Homes has always been about preserving this neighborhood. When the Inman Park Festival debuted in 1972, it was the first neighborhood festival in Atlanta. (It remains the largest all-volunteer festival in Georgia.) To emphasize the deep history of the area, the first Tour of Homes presented visitors with 25 locations&mdash;houses, gardens, historic sites, and other buildings, including the Inman Park United Methodist Church (which has been on every subsequent Festival tour). Tickets cost one dollar. In the fifty years since then, we have offered 842 dwellings for people to tour, showcasing Victorians, Bungalows, American Foursquares, Classic Revival, American Small Houses, townhomes, loft conversions in industrial buildings, and so much more. 

        p The goal of the first tour was twofold: to convince mortgagers and insurance companies that this run-down, red-lined neighborhood deserved their investments, and to convince politicians and the public that this unique, historic neighborhood deserved their support. In the 1980s, proceeds from the Inman Park Festival and Tour of Homes helped fund lawsuits in city, county, and state courts against the Georgia Department of Transportation and other entities in the ten-year battle to stop a planned six-lane highway through intown neighborhoods. 

        p Because the neighborhoods&rsquo; coalition prevailed, you can still enjoy these beautiful, one-of-a-kind houses, stroll our delightful tree-lined streets, and, we hope, appreciate the many qualities that, since 1972, have gone into making the Inman Park Festival Atlanta&rsquo;s best-loved neighborhood event.
        
        p The Tour of Homes is a ticketed, self-conducted tour of beautiful homes and buildings in Inman Park. See inside some of our historic Victorian and Craftsman homes or enjoy the beautiful remodeling jobs neighbors have completed on their houses.


        p The home preview is on Friday #{globals.ipf.date.friday.date} from #{globals.tour.hours.friday.start} - #{globals.tour.hours.friday.stop} and continues on Saturday and Sunday from #{globals.tour.hours.weekend.start} - #{globals.tour.hours.weekend.stop}.

        h2 Tour of Homes Tickets

        p Tour of Homes tickets are $#{globals.tour.cost.advance} in advance and $#{globals.tour.cost.door} starting the Friday of Festival.

        //- include _ticketbud

        //- include _tickets-local
        
        h2 Important Details

        ul
            li One child under 12, no ticket required, may accompany and be supervised by each ticketed adult.
            li Tour tickets are valid for the entire weekend of Festival but each house can only be visited once per ticket.


        //- h2 Tour of Homes Sponsors
        //- 
        //- ul.Sponsors.Sponsors--other.Sponsors-top
        //-     +sponsorGridImage("/assets/img/2018/sponsors/toh/adam-stillman.png", "Adam Stillman", "http://adamstillman.net/index2.html")
        //-     +sponsorGridImage("/assets/img/2018/sponsors/toh/floor-n-decor.png", "Floor & D&eacute;cor", "https://www.flooranddecor.com/")
        //-     +sponsorGridImage("/assets/img/2018/sponsors/toh/vacasa.png", "Vacasa", "https://www.vacasa.com/")

        //- h2 This Year's Homes

    include _homes-2022
