extends ../../_templates/layout

block pageVars
    - var selectedNav = 'faq'

block title
    title #{globals.ipf.title} | FAQ

block contents

    include ../../_includes/_banner
    
    if globals.tour.tickets.active
        ul.PromotionGrid.u-container.u-container--noPad
            li.PromotionItem.alt-primary
                section
                    h3 Tour of Homes Tickets Available Online
                    p
                        a.u-blockCentered.Button(href=globals.tour.tickets.url) Buy Now
        
        
        //- li.PromotionItem.alt-tertiary
        //- 
        //- li.PromotionItem.alt-primary
        //-     section
        //-         h3 Volunteers Needed!
        //-         p Help make a great festival better by volunteering.
        //-         p
        //-             a(href="/volunteer") Learn more

        //- li.PromotionItem.alt-primary
        //-     section
        //-         h3 Remember:
        //-         ul
        //-             li No pets allowed at Festival
        //-             li No bikes or scooters within the Festival footprint (<a href="/map">See map for footprint</a>)

    //- .Hero
    //-     div
    //-         .HeroSlidePromo
    //-             .HeroSlidePromo-banner
    //- 
    //-             .HeroSlidePromo-copy
    //-                 h3 Festival Needs Volunteers!
    //-                 p
    //-                     | Festival doesn't happen without volunteers.
    //-                     = ' '
    //-                     a(href=globals.volunteerSite) Signup now
    //-                     = ' '
    //-                     | to volunteer your time and help make this year's festival great!
    //- 
    //-                 a.u-blockCentered.Button(href=globals.volunteerSite) Sign Up

    article.u-container

        h1 Frequently Asked Questions
        
        //- +tertiaryNav(globals.events.nav)
        
        h2 Festival 101
        
        dl.FaqList
            dt When does festival take place?
            dd The Inman Park Spring Festival takes place on the full last weekend of April. 
            //- This year it runs from #{globals.ipf.date.saturday.date} - #{globals.ipf.date.sunday.date}.
            
            //- TODO hours should come from global data
            dt What are the hours?
            dd 
                p
                    | Tour of Homes (ticketed event)
                    br 
                    | Friday: #{globals.tour.hours.friday.start} - #{globals.tour.hours.friday.stop}
                    br
                    | Saturday &amp; Sunday: #{globals.tour.hours.weekend.start} - #{globals.tour.hours.weekend.stop}

                p
                    | Festival (free event)
                    br
                    | Saturday: #{globals.ipf.date.saturday.hours.start} - #{globals.ipf.date.saturday.hours.stop}
                    br
                    | Sunday: #{globals.ipf.date.sunday.hours.start} - #{globals.ipf.date.sunday.hours.stop}


            dt When is the parade?
            dd The parade occurs on Saturday at #{globals.events.parade.time}.

            dt Are Pets Allowed?
            dd No. Per City of Atlanta Ordinance, pets are not allowed at Festivals, "unless part of a planned festival program or assisting persons with disabilities". This prohibition includes "dogs, cats, snakes, birds, pigs, etc.", and applies whether or not the pet is leashed. As the ordinance says, this is for the pet's protection as well as for the protection of festival patrons. Thanks!!
        
        h2 Tour of Homes Tickets 
        
        dl.FaqList
            dt How much do Tour of Homes Tickets Cost?
            dd Tour of Homes tickets are $#{globals.tour.cost.advance} in advance and $#{globals.tour.cost.door} starting Friday, #{globals.ipf.date.friday.date} (online sales incur a small additional ticket service fee).

            dt Can I use my digital ticket to get into a home on the Tour of Homes?
            dd Yes. You must first install the Eventeny app on your mobile device. When you arrive at the home on Tour, show the volunteer your device with the QR code visible and your digital ticket will be scanned.

            dt Are there group ticket rates?
            dd Yes, group discounts are available for groups of 10 or more.
        
        h2 Markets
        
        dl.FaqList
            dt What are the hours of the Market?
            dd 11:00AM to 6:00PM on Saturday and Sunday

            dt How can I become an exhibitor?
            dd Complete the application and form available on the <a href="/exhibitors">Exhibitors page</a>

            //- dt When is the application deadline?
            //- dd The deadline is March 10, 2017.

            //- TODO Put the application dates into the global data
            //- dt When will I find out if I have been accepted into the Market?
            //- dd All applicants will be notified no later than March 17, 2017.
        
        
        h2 Events 
        
        dl.FaqList
            dt What are the hours?
            dd 
                p
                    | Tour of Homes (ticketed event)
                    br 
                    | Friday: #{globals.tour.hours.friday.start} - #{globals.tour.hours.friday.stop}
                    br
                    | Saturday &amp; Sunday: #{globals.tour.hours.weekend.start} - #{globals.tour.hours.weekend.stop}

                p
                    | Festival (free event)
                    br
                    | Saturday: #{globals.ipf.date.saturday.hours.start} - #{globals.ipf.date.saturday.hours.stop}
                    br
                    | Sunday: #{globals.ipf.date.sunday.hours.start} - #{globals.ipf.date.sunday.hours.stop}

            dt When is the parade?
            dd The parade occurs on Saturday at #{globals.events.parade.time}.


        h2 Food 
        
        dl.FaqList
            dt What food is available at the festival?
            dd Pizza, barbecue, gyros, sandwiches, and, of course, funnel cakes and other street festival staples. Vegetarian, Vegan, and Gluten-Free options will also be available.  Local restaurants will also be open for business.


        h2 Sponsors
        
        dl.FaqList
            dt What levels of sponsorships does the festival offer?
            dd There are several levels of sponsorships available to businesses of all sizes, including Gold and Silver levels as well as Friends of Festival designations.

            dt How do I learn more about sponsorships?
            dd Go to the <a href="/contact-us">Contact Us page</a> and send an e-mail request to Festival Sponsorships.


        //- h2 Volunteer
        
        //- dl.FaqList
        //-     dt Where do you sign up?
        //-     dd You can sign up online at <a href=globals.volunteerSite>Signup.com</a>
