extends _templates/layout

block pageVars
    - var selectedNav = 'home'

block title
    title Home

block contents
    include _includes/_banner
    
    .Hero
        .carousel
            //- VOLUNTEER PROMO SLIDE
            .HeroSlidePromo
                .HeroSlidePromo-banner
        
                .HeroSlidePromo-copy
                    h3 Festival Needs Volunteers!
                    p
                        | Festival doesn't happen without volunteers.
                        = ' '
                        a(href=globals.volunteerSite) Signup now
                        = ' '
                        | to volunteer your time and help make this year's festival great!
        
                    a.u-blockCentered.Button.u-hiddenMobile(href=globals.volunteerSite) Sign Up


            .HeroSlidePromo
                .HeroSlidePromo-banner-tickets

                .HeroSlidePromo-copy
                    h3 Tour of Homes Tickets on Sale Now!
                    p
                        a(href=globals.tour.tickets.url) Get your tickets now


            if globals.vendors.appActive
                .HeroSlidePromo
                    .HeroSlidePromo-vendors
                        div
                            h2 Now accepting vendor applications!
                            p
                                a(href='/exhibitors') Learn more on our Exhibitors page.

            div
                +slideImage('/assets/img/2019/hero-big-mask', 'Parade Block Heroes')
            //- div
            //-     +slideImage('/assets/img/2019/hero-gnome-parade', 'Gnomes in the Festival Parade')
            div
                +slideImageXL('/assets/img/2019/hero-balloon-man', 'Man making balloon animals')
            div
                +slideImageXL('/assets/img/2019/hero-band', 'One of many beautiful homes in Inman Park')


    .u-container
        .PageIntro

            .PageIntro-header
                h1 We're back!
                
            .PageIntro-copy
                p For 2022, your dedicated Festival Committee is planning a full, regular Festival with extra fun to celebrate our 50th Anniversary!  Please check back regularly for updates!

                p 
                    a(href="https://www.eventeny.com/events/volunteer/?id=1759&type=public") Sign up as a volunteer!
                    
                //- p During the last full weekend in April each year, Inman Park proudly presents a neighborhood festival widely regarded as Atlanta&rsquo;s most spirited and eclectic.

                //- p As noted above, this year's festival will be postponed or canceled. Please check back later for more news.

                //- p Please join us for the #{globals.ipf.date.annual}th Inman Park Spring Festival and Tour Of Homes.
                
                //- p The #{globals.ipf.date.year} Inman Park Festival takes place on Saturday #{globals.ipf.date.saturday.date} &amp; Sunday #{globals.ipf.date.sunday.date} with a Tour of Homes preview on Friday #{globals.ipf.date.friday.date}.
                
                p *Please remember that pets, bicycles and scooters are not allowed at festival.*

    //- .PromotionItemHero.u-container.u-container--noPad
    //-     .PromotionItemHero-image.image--merch-2020
    //-     .PromotionItemHero-text
    //-         section
    //-             h2 UNFestival Merch Available Now!
                
    //-             p 
    //-                 a(href="https://store28815136.company.site/") Visit our online store here

    ul.PromotionGrid.u-container.u-container--noPad
        li.PromotionItem.alt-primary
            section
                h3 Want to march in the parade?
                a(href='/events/parade') Learn how to apply here.


        li.PromotionItem.alt-tertiary
            section
                h3 Volunteer Now!
                p Festival thrives on volunteers.
                a(href=globals.volunteerSite) Sign up now
                //- h3 Support Our Dancers
                //- p Help support our dance groups. 
                //- a(href="/events/dance") Learn more on our dance page
        
        //- li.PromotionItem.alt-secondary
        //-     section
        //-         h3 Support Our Musicians
        //-         p Help support this year's musicians. Check out their web sites to learn more.
        //-         a(href="/events/music") Learn more on our music page

        li.PromotionItem.alt-secondary
            section
                h3 Tour of Homes Tickets on Sale
                p 
                    a(href=globals.tour.tickets.url) Buy Tour of Homes tickets online now!
            
            //- section
            //-     h2 Art Chosen!
            //- 
            //-     p The artwork for this year's festival posters and shirts has been chosen.
            //- 
            //-     p
            //-         a(href="/art/2019") View the Art

        //- .PromotionItemHero-image.image--iris-2018
        //- .PromotionItemHero-text
        //-     section
        //-         h2 Volunteer Now!
                
        //-         p Festival thrives on volunteers. <a href="#{globals.volunteerSite}">Sign up now on our volunteer site</a>.

        //- .PromotionItemHero-image.image--big-house
        //- .PromotionItemHero-text
        //-     section
        //-         h2 Festival is Coming!
        
        //-         p Look here soon for Volunteer signup and other announcements as we get closer to this year's festival.

        //- .PromotionItemHero-image.image--parade
        //- .PromotionItemHero-text
        //-     section
        //-         h3 Want to March in the Parade?
        //-         p 
        //-             a(href='/events/parade') Learn how to apply here.
        

        //- .PromotionItemHero-image.image--art-submission
        //- .PromotionItemHero-text
        //-     section
        //-         h3 Submit your art!
        //-         p We are now accepting submissions for the 2020 Festival artwork. Visit the submissions page to learn more.
        //-         p
        //-             a(href="/art/submissions") Learn more here

        //-        
        //- .PromotionItemHero-image.image--iris-2018
        //- .PromotionItemHero-text
        //-     section
        //-         h2 Off Season
        //-         //- p Next year's Festival details will be available online later this year.
        //-         p Look for this year's Festival updates in the forthcoming months.



    //- ul.PromotionGrid.u-container.u-container--noPad
        //- li.PromotionItem.alt-primary
        //-     section
        //-         h3 Vendor Applications Online
        //-         p
        //-             a.u-blockCentered.Button(href="https://www.zapplication.org/event-info.php?ID=6787") Apply Now
            

        //- li.PromotionItem
        //-     section
        //-         h3 Festival 2019 Art
        //-         p Call for entries is live! Learn how to submit your artwork for this year's design competition.
        //-         p
        //-             a(href="/art/submissions") Learn More

        //- li.PromotionItem.alt-primary
        //-     section
        //-         h3 Festival 2019 Art Chosen!
        //-         p The artwork for this year's festival posters and shirts has been selected.
        //-         p
        //-             a(href="/art/2019") View the Art


        //- li.PromotionItem.alt-primary
        //-     section
        //-         //- h3 Tour of Homes Tickets
        //-         //- p
        //-         //-     a(href="/events/tour-of-homes") Online ticket purchase is available now!
        //-         h3 Celebrate Safely on 4/25

        //-         p On Saturday 4/25 at 2PM we invite you to join us on your porch to make the loudest hoot &amp; hollering you can make!


        //- li.PromotionItem
        //-     section
        //-         h3 #{globals.ipf.date.year} Art Contest
        //-         p The call for artwork entries deadline has passed. Check back for details on this year's winning artwork.
        //-         

        //- li.PromotionItem
        //-     section
        //-         h3 Now accepting vendor applications
        //-         p 
        //-             a(href='/exhibitors') Check out our Exhibitor page to learn more.
        
        //- li.PromotionItem
        //-     section
        //-         h3 Golf Cart Map
        //-         p If you're a neighbor who plans on having a personal golf cart during festival, <a href="/assets/static/archive/2019/Golf-Cart-Map-2019.pdf">please see the updated map of allowed and prohibited areas for carts</a>.
                //- ul
                //-     li Friday #{globals.ipf.date.friday.date} (Tour of Homes only) 
                //-     li Saturday #{globals.ipf.date.saturday.date} 
                //-     li Sunday #{globals.ipf.date.sunday.date}

        //- li.PromotionItem
        //-     section
        //-         //- h3 #{globals.ipf.date.year} Join the Parade
        //-         //- p 
        //-         //-     | If your group is interested in marching in this year's parade, 
        //-         //-     |
        //-         //-     a(href="#{globals.events.parade.application}") Download the Parade Application here.
        //-         h3 Merch for sale soon!
        //-         p 
        //-             | UNfestival t-shirts and posters will soon be available for online purchase. Make sure to follow the 
        //-             | 
        //-             a(href="https://www.facebook.com/InmanParkFestival/" target="_blank") Inman Park Festival Facebook page
        //-             |
        //-             | for further instructions.

        //- li.PromotionItem.alt-secondary
        //-     include _includes/_social-icons
