extends _templates/layout

block pageVars
    - var selectedNav = 'home'

block title
    title Home

block contents
    include _includes/_banner
    
    .Hero
        .carousel
            //- VOLUNTEER PROMO SLIDE
            //- .HeroSlidePromo
            //-     .HeroSlidePromo-banner
        
            //-     .HeroSlidePromo-copy
            //-         h3 Festival Needs Volunteers!
            //-         p
            //-             | Festival doesn't happen without volunteers.
            //-             = ' '
            //-             a(href=globals.volunteerSite) Signup now
            //-             = ' '
            //-             | to volunteer your time and help make this year's festival great!
        
            //-         a.u-blockCentered.Button(href=globals.volunteerSite) Sign Up

            if globals.vendors.appActive
                .HeroSlidePromo
                    .HeroSlidePromo-vendors
                        div
                            h2 Now accepting vendor applications!
                            p 
                                a(href=globals.vendors.site) Apply for a booth on here Zapp
                            p
                                a(href='/exhibitors') Learn more on our Exhibitors page.

            //- div
            //-     +slideImage('/assets/img/2020/hero-art-submission', 'Art Submission for 2020 Festival is live!', '/art/submissions')

            div
                +slideImage('/assets/img/2019/hero-big-mask', 'Parade Block Heroes')
            //- div
            //-     +slideImage('/assets/img/2019/hero-gnome-parade', 'Gnomes in the Festival Parade')
            div
                +slideImageXL('/assets/img/2019/hero-balloon-man', 'Man making balloon animals')
            div
                +slideImageXL('/assets/img/2019/hero-band', 'One of many beautiful homes in Inman Park')

    .u-container
        .PageIntro

            .PageIntro-header
                h1 Welcome to Atlanta's Favorite Street Festival
                
            .PageIntro-copy
                p During the last full weekend in April each year, Inman Park proudly presents a neighborhood festival widely regarded as Atlanta&rsquo;s most spirited and eclectic.

                p Please join us for the #{globals.ipf.date.annual}th Inman Park Spring Festival and Tour Of Homes.
                
                p The #{globals.ipf.date.year} Inman Park Festival takes place on Saturday #{globals.ipf.date.saturday.date} &amp; Sunday #{globals.ipf.date.sunday.date} with a Tour of Homes preview on Friday #{globals.ipf.date.friday.date}.
                
                p *Please remember that pets, bicycles and scooters are not allowed at festival.*

    .PromotionItemHero.u-container.u-container--noPad
        //- .PromotionItemHero-image.image--art-2019
        //- .PromotionItemHero-text
            //- section
            //-     h2 Tickets Available!
                
            //-     p Tour of Homes tickets can now be purchased online and at neighborhood locations.
                
            //-     p
            //-         a(href="/events/tour-of-homes#buy-tickets") Learn More
            
            //- section
            //-     h2 Art Chosen!
            //- 
            //-     p The artwork for this year's festival posters and shirts has been chosen.
            //- 
            //-     p
            //-         a(href="/art/2019") View the Art

        //- .PromotionItemHero-text
        //-     section
        //-         h2 Volunteer Now!
                
        //-         p Festival thrives on volunteers. <a href="#{globals.volunteerSite}">Sign up now on our volunteer site</a>.

        //- .PromotionItemHero-image.image--big-house
        //- .PromotionItemHero-text
        //-     section
        //-         h2 Festival is Coming!
        
        //-         p Look here soon for Volunteer signup and other announcements as we get closer to this year's festival.

        .PromotionItemHero-image.image--parade
        .PromotionItemHero-text
            section
                h3 Want to March in the Parade?
                p 
                    a(href='/events/parade') Learn how to apply here.
        

        //- .PromotionItemHero-image.image--art-submission
        //- .PromotionItemHero-text
        //-     section
        //-         h3 Submit your art!
        //-         p We are now accepting submissions for the 2020 Festival artwork. Visit the submissions page to learn more.
        //-         p
        //-             a(href="/art/submissions") Learn more here

        //-        
        //- .PromotionItemHero-image.image--iris-2018
        //- .PromotionItemHero-text
        //-     section
        //-         h2 Off Season
        //-         //- p Next year's Festival details will be available online later this year.
        //-         p Look for this year's Festival updates in the forthcoming months.

        //- .PromotionItemHero-text
        //-     section
        //-         h2 Tour Tickets on Sale
        //-         p 
        //-             a(href="/events/tour-of-homes/#buy-tickets") Buy Tour of Homes tickets online now!
        //-     .ArrowNav
        //-         a(href="/events/tour-of-homes/#buy-tickets") >

    ul.PromotionGrid.u-container.u-container--noPad
        //- li.PromotionItem.alt-primary
        //-     section
        //-         h3 Vendor Applications Online
        //-         p
        //-             a.u-blockCentered.Button(href="https://www.zapplication.org/event-info.php?ID=6787") Apply Now
            

        //- li.PromotionItem
        //-     section
        //-         h3 Festival 2019 Art
        //-         p Call for entries is live! Learn how to submit your artwork for this year's design competition.
        //-         p
        //-             a(href="/art/submissions") Learn More

        //- li.PromotionItem.alt-primary
        //-     section
        //-         h3 Festival 2019 Art Chosen!
        //-         p The artwork for this year's festival posters and shirts has been selected.
        //-         p
        //-             a(href="/art/2019") View the Art


        li.PromotionItem.alt-primary
            section
                h3 Tour of Homes
                p
                    a(href="/events/tour-of-homes") Review the homes that toured this past festival.


        //- li.PromotionItem
        //-     section
        //-         h3 #{globals.ipf.date.year} Art Contest
        //-         p The call for artwork entries deadline has passed. Check back for details on this year's winning artwork.
        //-         

        li.PromotionItem
            section
                h3 Now accepting vendor applications
                p 
                    a(href='/exhibitor') Check out our Exhibitor page to learn more.
        
        //- li.PromotionItem
        //-     section
        //-         h3 Golf Cart Map
        //-         p If you're a neighbor who plans on having a personal golf cart during festival, <a href="/assets/static/archive/2019/Golf-Cart-Map-2019.pdf">please see the updated map of allowed and prohibited areas for carts</a>.
                //- ul
                //-     li Friday #{globals.ipf.date.friday.date} (Tour of Homes only) 
                //-     li Saturday #{globals.ipf.date.saturday.date} 
                //-     li Sunday #{globals.ipf.date.sunday.date}


        //- li.PromotionItem
        //-     section
        //-         h3 #{globals.ipf.date.year} Join the Parade
        //-         p If your group is interested in marching in this year's parade, <a href="#{globals.events.parade.application}">Download the Parade Application here</a>.

        li.PromotionItem.alt-secondary
            include _includes/_social-icons
