extends ../../_templates/layout

block title
    title #{globals.ipf.title} Art Submissions

block contents
    article.u-container

        h1 Call for Design Entries

        if !globals.art.submissions.active
            //- CLOSED
            p The call for entries is closed. Check the <a href="/art">Art page</a> for details about this year's winner when they are announced.

        else
            //- OPEN
            p Be part of an In-town tradition and put your talent on display for the Inman Park Festival attendees. 

            h2 Submission Deadline: #{globals.art.submissions.deadline}

            p The design will need to be able to be reproduced in a variety of methods and sizes on all Festival Content:

            ul
                li Poster (approximately 16" W x 24" H)
                li T-shirt (screen printed) 
                li Tour of Homes Ticket Cover (4.25" W x 11" H)
                li Fold-out Map (4" W x 3" H)

            h2 Prize Package for the Winning Design

            ul
                li $1,000 Cash award
                li Festival t-shirt
                li (2) Tour of Homes tickets
                li Festival Arts and Crafts Exhibitor Booth

            h2 Selection Criteria
            
            p Submissions will be considered based on originality, effectiveness in conveying the spirit of Inman park Festival and adaptability to various media forms, including, print, fabric, and online.

            p
                a(href='examples') See artwork selected during the past few years.

            h2 Winner Notification

            p The Artist selected will be notified by email and phone call the week of January 12th, #{globals.ipf.date.year}. Artist must be available in the two weeks following for a 1:1 interview, for the winning artwork announcement, which will be featured in local media February-April #{globals.ipf.date.year}. 

            h2 Where Your Design Will Be Featured

            p The official Festival design is featured throughout the festival weekend:

            ul
                li #{globals.ipf.date.year} Festival t-shirt and poster
                li Front cover of #{globals.ipf.date.year} Tour of Homes ticket
                li Festival website
                li Festival advertising, signage, and social media communications


            h2 Submission Details

            ul
                li Artwork may be printed in up to 5 colors, and will need to be adjusted to print in a 1 or 2 colors, or a duotone. Therefore, the selected artwork must be provided by the designer in a layered vector file, format, which will allow the Printer to adjust all colors accordingly.
                li Please keep in mind Art must be "scalable", i.e. no magic marker illustrations, or watercolors, or any artwork that will lose its image quality once blown up to the size requirements for print, digital and merchandise. 
                li T-shirts will be printed on various colored backgrounds, TBD by the Festival Committee.
                li Hand drawn artwork must be digitized as a single color in an AI file, with additional colors in separated vector layers in the same AI file. The Designer must provide this layered file. (Not required for Contest submission, but required if submission is selected.)
                li The winning design becomes the property of Inman Park Neighborhood Association.
                li
                    | Contact the Marketing Committee at
                    |
                    a(href="mailto:ipnamarketing@gmail.com") ipnamarketing@gmail.com
                    | 
                    | with questions.
            
            h2 Submit

            #formResults.u-displayNone
                p Thanks for your submission. We'll be in touch.

            #formContainer
                p You may submit a maximum of three (3) entries.

                form(action="upload.php" method="post" enctype="multipart/form-data" class="dropzone")#imagedrop
                    .dz-message(data-dz-message)
                        span Click or drop files here to upload. Valid file types are: jpeg, png, pdf. Maximum file size per file is 5 MB

                    .dz-previews-container

                    .ArtForm
                        p Please provide your personal contact details so we can contact you once we've selected the final artwork for this year's festival. Your name is required and you must provide either your phone number or email or both.

                        .ArtForm-error

                        label
                            span Your Name:
                            input(type="text" name="artistName" placeholder="Your Name")

                        label
                            span Your Phone Number:
                            input(type="text" name="artistPhone" placeholder="Your Phone Number")

                        label
                            span Your Email Address:
                            input(type="email" name="artistEmail" placeholder="Your Email")

                        input(type="submit" name="submit" value="Submit")

        if globals.art.submissions.active
            #submissionLoader.SubmissionLoader
                img(src="/assets/img/ajax-loader.gif" alt="submitting files...")

block scripts
    if globals.art.submissions.active
        script(src="/assets/js/art-submission.js")

//- 3 things to reverse !globals: first conditional, submission loader, page script
