extends ../_templates/layout

mixin boothWinner(place, name, type, url)
    .BoothWinner
        h3= place
        .BoothWinner-name= name
        .BoothWinner-type= type
        .BoothWinner-url
            a(href=url target="_blank")= url

mixin boothWinnerHonorable(name, type, url)
    .BoothWinner-name= name
    .BoothWinner-type= type
    .BoothWinner-url
        a(href=url target="_blank")= url

block pageVars
    - var selectedNav = 'booths'

block title
    title #{globals.ipf.title} | Booths

block contents

    +secondaryNav(globals.markets.nav)
    
    include ../_includes/_banner

    article.u-container

        h1 Arts &amp; Crafts Show and Street Vendors

        //- p 
        //-     strong If you are interested in becoming a vendor,
        //-     |
        //-     | please visit our 
        //-     a(href='/exhibitors') Exhibitor page.

        p
            | For a list of this year's vendors, 
            a(href="https://www.eventeny.com/events/inmanparkfestivaltourofhomes2022-1759/?action=vendor") please visit the Eventeny web site.

        p If you're looking for gifts, new clothes, art for your house or just about anything else, you are likely to find what you're looking for at one of the many vendor booths lining the tree-shaded streets during the Inman Park Festival.

        //- h2 Booths
        
        //- p 
        //-     | The 
        //-     = ' '
        //-     a(href="/booths/arts-crafts-market") Arts & Crafts Market
        //-     = ' '
        //-     | is a jury-selected group of more than 150 artists showcasing their work in a variety of media including sculpture, painting and photography.
        
        //- p 
        //-     | The 
        //-     = ' '
        //-     a(href="/booths/street-market") Street Market
        //-     = ' '
        //-     | houses more than 250 booths of vendors selling antiques, handcrafted wares, clothing and a large variety of other items.

        //- p 
        //-     a(href="/booths/community-corner") Community Corner
        //-     = ' '
        //-     | booths showcase a variety of non-profit organizations where you can learn about and help out groups doing important work locally and across the states.
        
        //- p Together they comprise one of the largest street markets in the Southeast!
        
        //- if globals.vendors.appActive
        //-     h2 Become an Exhibitor
        
        //-     p 
        //-         | If you are interested in being a exhibitor for the #{globals.ipf.date.year} festival, 
        //-         = ' '
        //-         a(href="/exhibitors") visit the Exhibitors page for more info.
        
        //- if !globals.vendors.appActive
        //-     p Vendor applications are closed in the off-season but you can check back on this site in the fall to find instructions on how to become a vendor. We use <a href="https://www.zapplication.org/" target="_blank">ZAPP</a> to manage vendor applications &ndash; feel free to visit their site to create an account at any time.

        h2 2019 Arts &amp; Crafts Winners

        p 
            a(href='./previous-winners') Click here to see winners from previous years.
        
        .BoothWinners
            +boothWinner("First Place", "Andrew Swartz", "Mixed Media", "http://www.skullgarden.net/")
            +boothWinner("Second Place", "Veronique Harris", "Ceramics", "https://www.veroniqueharris.com/") 
            +boothWinner("Third Place", "John Fesken", "Mixed Media")

            .BoothWinner.BoothWinner--honorable
                h3 Honorable Mentions
                +boothWinnerHonorable("Dee Mirkin", "Mixed Media")
                +boothWinnerHonorable("Jake Mosher", "Photography", "http://www.jakemosher.com")
                +boothWinnerHonorable("Jill Sharp", "Jewelry", "http://www.bpjewelry.com/")
