extends ../_templates/layout

mixin boothWinner(place, name, type, url)
    .BoothWinner
        h3= place
        .BoothWinner-name= name
        .BoothWinner-type= type
        .BoothWinner-url
            a(href=url target="_blank")= url

mixin boothWinnerHonorable(name, type, url)
    .BoothWinner-name= name
    .BoothWinner-type= type
    .BoothWinner-url
        a(href=url target="_blank")= url

block pageVars
    - var selectedNav = 'booths'

block title
    title #{globals.ipf.title} | Booths

block contents

    +secondaryNav(globals.markets.nav)

    article.u-container

        h1 Arts & Crafts Show and Street Vendors

        p If you're looking for gifts, new clothes, art for your house or just about anything else, you are likely to find what you're looking for at one of the many vendor booths lining the tree-shaded streets during the Inman Park Festival.


        h2 Booths
        
        p 
            | The 
            = ' '
            a(href="/booths/arts-crafts-market") Arts & Crafts Market
            = ' '
            | is a jury-selected group of more than 150 artists showcasing their work in a variety of media including sculpture, painting and photography.
        
        p 
            | The 
            = ' '
            a(href="/booths/street-market") Street Market
            = ' '
            | houses more than 250 booths of vendors selling antiques, handcrafted wares, clothing and a large variety of other items.

        p 
            a(href="/booths/community-corner") Community Corner
            = ' '
            | booths showcase a variety of non-profit organizations where you can learn about and help out groups doing important work locally and across the states.
        
        p Together they comprise one of the largest street markets in the Southeast!
        
        if globals.vendors.appActive
            h2 Become a Vendor
        
            p 
                | If you are interested in being a vendor for the #{globals.ipf.date.year} festival, 
                = ' '
                a(href="/booths/become-an-exhibitor") visit the Become an Exhibitor page for more info.
        
        if globals.offSeason && !globals.vendors.appActive
            p Vendor applications are closed in the off-season but you can check back on this site in the fall to find instructions on how to become a vendor. We use <a href="https://www.zapplication.org/" target="_blank">ZAPP</a> to manage vendor applications &ndash; feel free to visit their site to create an account at any time.

        h2 2017 Arts &amp; Crafts Winners

        .BoothWinners
            +boothWinner("First Place", "Leif Johansen", "Shadow box drawings & paintings", "http://www.leiferikjohansen.com/")
            
            +boothWinner("First Place", "Leif Johansen", "Shadow box drawings & paintings", "http://www.leiferikjohansen.com/")
            
            +boothWinner("Second Place", "Linda Hill", "Paintings", "http://www.heartscapedesigns.com/") 

            +boothWinner("Third Place", "Natacha Monnalisa", "Wood burning drawings", "http://www.natachamonnalisa.com/")

            .BoothWinner.BoothWinner--honorable
                h3 Honorable Mentions
                
                +boothWinnerHonorable("Hannah Long", "Jewelry", "http://www.etsy.com/shop/hannahlongjewelry")

                +boothWinnerHonorable("Megan Smith", "Stuffed animals", "http://www.noblesmith.design")

                +boothWinnerHonorable("Glenn Lewis", "Photography", "http://www.glennlewisphotography.com/")
