ul.Vendors
    each vendor in vendors.street
        li.Vendor
            ul.u-list-unstyled
                li(class=`Category--${vendor.class}`)
                    - var nameAsBusiness = vendor.business === '';
                    if nameAsBusiness
                        h3.Vendor-business #{vendor.firstname} #{vendor.lastname}
                    else
                        h3.Vendor-business= vendor.business
                        p.Vendor-name #{vendor.firstname} #{vendor.lastname}
                    - var hasUrl = vendor.url !== ''
                    if hasUrl
                        a.Vendor-url(href=vendor.url)= vendor.url
                    div.Vendor-category= vendor.category
